
/* Font styles for all the Body goes here */
h1, h2{
  font-family: "Anton", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #000000;
  font-size: 40px;
  text-transform: capitalize;
}
h3 {
    text-transform: capitalize;
    font-family: "Anton", sans-serif;
    font-weight: 400;
}
/* Heading decorations */
h1 .gradient1{
    background: -webkit-linear-gradient(#E0C3FC, #8EC5FC);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
h2 .gradient2{
    background: -webkit-linear-gradient(#FA709A, #FEE140);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}