/* General & common styles goes here */
body{
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.light-cv-parent{
    background-color: #ffffff;
    width: 90%;
    /* height: 100%; */
}

/* Profile Image, Name, Position */
.light-header-div{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
}
.logo-div{
    height: 120px;
    width: 120px;
    border-style: solid;
    border-color: #000000;
    border-width: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
.logo-div img{
    padding: 5px;
    /* background-color: #E0C3FC; */
    border-radius: 50%;
    height: 90%;
    width: 90%;
}
.divider{
    width: 11px;
    height: 80px;
    background-color: #000000;
}
h1 .gradient1{
    background: -webkit-linear-gradient(#E0C3FC, #8EC5FC);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
h2 .gradient2{
    background: -webkit-linear-gradient(#FA709A, #FEE140);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
/* PERSONAL iNFORMATION */
.light-cv-Body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 2%;
}
.light-cv-Body .left-body{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 30px;
}
.light-cv-Body .left-body .input-div .column-div input{
    border: none;
    border-bottom: 1px solid #9F9F9F;
    width: 100%;
}
.light-cv-Body .left-body .personal-details{
    display: flex;
    flex-direction: column;
}
.light-cv-Body .left-body .personal-details hr{
    width: 100%;
    border-style: 1px solid #9F9F9F;
    /* margin-top: -8%; */
}
.light-cv-Body .left-body .personal-details .input-div{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 15px;
}
.light-cv-Body .left-body .personal-details .column-div{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.light-cv-Body .left-body .personal-details .column-div :nth-last-child(1n+1){
    outline: none;
}
.light-cv-Body .left-body .personal-details .input-div .column-div :nth-child(2){  
    /* background-color: red; */
    margin-top: 5%;
}
/* CONTACT ME PART STYLES CSS */

.light-cv-Body .left-body .contact-parent{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    width: 100%;
}
.light-cv-Body .left-body .contact-parent .contact-details{
    width: 100%;
}
.light-cv-Body .left-body .contact-parent .contact-me-list .email-address{
    display: flex;
    flex-direction: column;
    align-items: start;
}
.light-cv-Body .left-body .contact-parent .contact-me-list a {
    width: 100%;
    text-decoration: none;
    color: #292929;
}
.contact-hr{
    width: 100%;
    color: #9F9F9F;
}