/* General & common styles goes here */
body{
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
}
.light-cv-parent{
    height: 90vh;
    width: 50vw;
}

/* CV Styles starts here: */

.light-cv-parent{
    background-color: #ffffff;
}
/* Profile Image, Name, Position */
.light-header-div{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
}
.logo-div{
    height: 120px;
    width: 120px;
    /* background-color: #8EC5FC; */
    border-style: solid;
    border-color: #000000;
    border-width: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
.logo-div img{
    padding: 5px;
    /* background-color: #E0C3FC; */
    border-radius: 50%;
    height: 90%;
    width: 90%;
}
.divider{
    width: 11px;
    height: 80px;
    background-color: #000000;
}
h1, h2{
  font-family: "Anton", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #000000;
  font-size: 40px;
}
h1 .gradient1{
    background: -webkit-linear-gradient(#E0C3FC, #8EC5FC);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
h2 .gradient2{
    background: -webkit-linear-gradient(#FA709A, #FEE140);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* Dark CV Body styles start here */
.light-cv-Body {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.light-cv-Body .left-body{
    display: flex;
    flex-direction: column;
}



