body {
  width: 100%;
  height: 100vh;
  background: linear-gradient(
    to right,
    rgb(174, 79, 95),
    rgb(251, 143, 143),
    rgb(123, 40, 54)
  );
  display: flex;
  flex-direction: column;
  gap: 80px;
}
header {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
body section {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
table,
td,
th {
  border: 1px solid black;
  padding: 20px;
}
caption {
  font-size: 36px;
  font-weight: bold;
  text-align: center;
}
