/* General codes, that is  common for  the whole code */

html {
  transition: 0.2s ease-in-out;
  scroll-behavior: smooth;
}
body {
  width: 100%;
  height: 100vh;
  background-color: bisque;
  display: flex;
  flex-direction: column;
  gap: 5rem;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: green;
}
h1 {
  color: green;
  font-weight: bold;
  letter-spacing: 2px;
}
.mobile-title {
  display: none;
}
/* Specific Styles Go here */
header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-bottom: 1px solid green;
}
header nav ul {
  display: flex;
  gap: 2rem;
}
header nav ul li a {
  font-weight: 600;
  font-size: 24px;
}
header img {
  height: 50px;
}
#burgerbar {
  display: none;
}
/* Sections Styles go here */
#aboutme {
  justify-content: center;
  align-items: center;
  display: flex;
  width: 80%;
}
#aboutme .aboutme-table {
  background-color: rgb(197, 244, 197);
}
#aboutme .aboutme-table,
th,
td {
  border: 1px solid green;
}
#aboutme .aboutme-table td {
  padding: 5px;
}
#aboutme .aboutme-table caption {
  font-size: 36px;
  letter-spacing: 3px;
  color: green;
  font-weight: 800;
}
