Toggle between dark-Light modes */
section {
  position: relative;
}
button {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px;
  border: none;
  cursor: pointer;
  border-radius: 6px;
  margin: 20px;
  font-size: 1rem;
  color: #1a1a1a;
}
/* Dark mode Switch */

.dark-mode #theme-toggle {
    padding: 10px;
    background-color: #333333;
    color: #f1f1f1;
    border: none;
    cursor: pointer;
    border-radius: 6px;
    margin: 20px;
    font-size: 1rem;
    
}
.dark-mode.dark-theme{
  background-color: #1a1a1a;
  color: #f1f1f1;
}
.dark-mode button{
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  border-radius: 6px;
  margin: 20px;
  font-size: 1rem;
  color: #ffffff;
}
.dark-mode button {
  background: #333333;
  color: #ffffff;
}
.dark-mode h1, h2, p{
  color: #ffffff;
}
.dark-mode h3{
  color: #ffffff;
}
.dark-mode .general-class{
  color: #ffffff;
}

.dark-mode .personal-input{
  color: #ffffff;
}
.dark-mode .logo .img-logo{
  filter: brightness(0) invert(1);
}
/* Dark mode right -bar */

.dark-mode .profile-p{
  color: #ffffff;
}
.dark-mode .profile-h3{
  color: #ffffff;
}
.dark-mode .dashboard-p{
  color: #ffffff !important;  
  /*es vici Secdoma rom aris, magram sxvanairad vegar movaswari:( */
}