
/* Font styles for all the Body goes here */

@font-face {
    font-family: 'Anton';
    src: url('fonts/anton.ttf');
    font-weight: 400;
}

@font-face {
    font-family: 'Gotham';
    src: url('fonts/Gotham\ Black\ Regular.ttf');
    font-weight: 400;
}

h1, h2{
  font-family: "Anton", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #292929;
  font-size: 40px;
  text-transform: uppercase;
}
h3, .profile-h3 {
    text-transform: uppercase;
    font-family: "Anton", sans-serif;
    font-weight: 400;
    color: #292929;
}
/* Heading decorations */
h1 .gradient1{
    background: -webkit-linear-gradient(#E0C3FC, #8EC5FC);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
h2 .gradient2{
    background: -webkit-linear-gradient(#FA709A, #FEE140);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
p, .skills label{
    font-family: "Gotham";
    font-weight: bold;
    color: #292929;
}
label{
    color: #000000;
}
.right-bar .right-body .Profile-heading p{
    font-family: "Gotham";
    font-weight: 100;
}
.profile-p{
    font-family: "Gotham";
    font-size: 18px;
    color: #292929;
}
.dashboard .circle p{
    font-family: "Anton", sans-serif;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    color: #292929;
}