/* General CSS */
*{
    border: none;
    background: none;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: 'TT Firs Neue';
    color: #fff;
}

html {
    scroll-behavior: smooth;
}

html,
body {
    width: 100%;
    height: 100%;
    height: 100vh;
}
.horizontal-hr {
    width: 50%;
    border: 1px solid #292929;
}
.right-body{
    position: relative;
}
#Escultures{
    position: absolute;
    bottom: -200px;
    right: -20px;
}

/* Build a main grid*/
.wrapper {
  max-width: 940px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 2fr 2fr;
  grid-gap: 10px;
}
.wrapper > * {
  color: #fff;
  border-radius: 5px;
  padding: 20px;
  /* font-size: 150%; */
  margin-bottom: 10px;
}
.header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    grid-column: 1 / -1;
    clear: both;
    border-bottom: 2px solid #9F9F9F;
}
.logo-div{
    height: 120px;
    width: 120px;
    border-style: solid;
    border-color: #000000;
    border-width: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
.logo-div img{
    padding: 5px;
    border-radius: 50%;
    height: 90%;
    width: 90%;
}
.divider{
    width: 11px;
    height: 80px;
    background-color: #000000;
}
#theme-toggle {
    /* padding: 10px; */
    background-color: #d8d7d7;
    border: none;
    cursor: pointer;
    border-radius: 6px;
    margin: 20px;
    font-size: 1rem;
}

/* left Bar CSS */
/* PERSONAL iNFORMATION */
.left-bar .left-body{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 50px;
}
.left-bar .left-body .input-div .column-div input{
    border: none;
    border-bottom: 1px solid #9F9F9F;
    width: 100%;
    color: #292929;
}
.left-bar .left-body .personal-details{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.left-bar .left-body .personal-details hr{
    width: 100%;
    border-style: 1px solid #9F9F9F;
    /* margin-top: -8%; */
}
.left-bar .left-body .personal-details .input-div{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 15px;
}
.left-bar .left-body .personal-details .column-div{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.left-bar .left-body .personal-details .column-div :nth-child(1n+1){
    outline: none;
}
.left-bar .left-body .personal-details .input-div .column-div :nth-child(2){  
    /* background-color: red; */
    margin-top: 5%;
}
/* CONTACT ME PART STYLES CSS */

.left-bar .left-body .contact-parent{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    width: 100%;
    gap: 30px;
}
.left-bar .left-body .contact-parent .contact-details{
    width: 100%;
}
.left-bar .left-body .contact-parent .contact-me-list {
    gap: 30px;
}
/* .left-bar .left-body .contact-parent .contact-me-list .email-address{
    display: flex;
    flex-direction: column;
    align-items: start;
} */
/* .left-bar.left-body .contact-parent .contact-me-list a img{
    border-top: 50px;
} */
/* .contact-hr{
    width: 100%;
    color: #292929;
    height: 1px;
} */
 .email-address, .web-site, .social-media{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
 }
.email-address a, .web-site a, .social-media a{
    /* width: 100%; */
    text-decoration: none;
    color: #292929;
    padding-bottom: 10px;
    border-bottom: 1px solid #292929;
}
.left-bar .left-body .software-main {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 16px;
}
.software-details {
    width: 100%;
}
.software-details hr {
    width: 100%;
}
.software-main .skills{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 30px;
}
.software-main .skills :nth-child(n){
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 16px;
}
.logo{
    margin-top: 50px;
}
.software-main .skills .range{
  background: linear-gradient(#84FAB0 100%, #8FD3F4 100%);
  border: solid 2px #82CFD0;
  border-radius: 8px;
  height: 7px;
  outline: none;
  transition: background 450ms ease-in;
  -webkit-appearance: none;
}
.software-main .skills .range::-webkit-slider-thumb {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  -webkit-appearance: none;
  cursor: ew-resize;
  background: #434343;

}
/* Right bar */
.right-bar .right-body {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 40px;
}
.right-bar .right-body .profile-heading{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 20px;
}
.right-bar .right-body .dashboard{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    height: auto;
    width: 100%;
    gap: 30px;
}
.right-bar .right-body .dashboard .circle{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    color: #292929;
}
.circle::before {
    content: "";
    position: absolute;
    inset: -4px;
    border-radius: 50%;
    padding: 4px;
    background: conic-gradient(#6ef7b4, #6bbcf8, #6ef7b4);
    -webkit-mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
            mask-composite: exclude;
}
.right-bar .right-body.work .work-heading{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    width: 100%;
}
.right-bar .right-body .work .work-heading hr{
    width: auto;
    border: 1px #292929 solid;
}



.experience-list {
    position: relative;
    width: 100%;
    border-top: 1px solid #ccc;
    padding-top: 20px;
    margin:auto;
}
.right-bar .right-body .education .edu-heading{
display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    width: 100%;
}
.right-bar .right-body .education .edu-heading hr{
    width: 100%;
    max-width: 600px;
    border: 1px #292929 solid;
}
/* Vertical line */
.experience-list::before {
    content: "";
    position: absolute;
    top: 30px;
    left: 98px;
    width: 2px;
    height: calc(260px - 50px);
    background: #9F9F9F;
}

.item {
    display: flex;
    align-items: flex-start;
    margin-bottom: 40px;
    position: relative;
}

/* Year badge */
.year {
    background: black;
    color: white;
    font-weight: 700;
    padding: 8px 18px;
    border-radius: 20px;
    font-size: 16px;
    margin-right: 25px;
    position: relative;
    z-index: 2;
}

/* Black dot */
.dot {
    width: 12px;
    height: 12px;
    background: black;
    border-radius: 50%;
    margin-right: 25px;
    margin-top: 8px;
    z-index: 2;
}

.content h3 {
    margin: 0;
    font-size: 16px;
    font-weight: 700;
}

.content p {
    margin: 3px 0 0;
    font-size: 14px;
    color: #555;
    text-transform: uppercase;
}



