body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(#ff43, brown);
}
table {
  background-color: rgb(240, 154, 154);
  margin-top: 120px;
  width: 80%;
}
thead {
  background-color: pink;
}
caption {
  background-color: black;
  font-size: 36px;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 5px;
  margin: 10px;
}
table,
th,
td {
  padding: 5px;
  color: aliceblue;
  border: 3px solid black;
  font-size: 24px;
  border-collapse: collapse;
}
td {
  text-align: center;
}
